{% extends 'index.html' %} {% block title %}login{% endblock %}
{% block response %}
<form method="POST">
    <h2 align="center"> Sign in</h2>
    <div>
        <label>
            Email Address
        </label>
        <input type="email" placeholder="Enter email" name="email"/>
    </div>
    <div>
        <label>
            Enter Password
        </label>
        <input type="password" placeholder="Enter password" name="password"/>
    </div>
    <button type="submit">Login</button>
</form>
{% endblock %}